<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection - Home</title>
    <style>
        body {
            background-color: #f2f2f2;
            text-align: center;
            font-family: Arial;
        }
        .btn {
            padding: 10px 20px;
            background-color: blue;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .top-right {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    </style>
</head>
<body>

    <div class="top-right">
        <a href="/predict_page" class="btn">Predict</a>
    </div>

    <h1>Fraud Detection System</h1>
    <p>This project predicts whether a transaction is Fraud or Legitimate.</p>

</body>
</html>
